<script>
window.setTimeout(function() {
  window.location.href = "/upload";
}, 3000);
</script>

<p>You were missing a file. Please try again.</p>

<p>Please click <a href="/upload">here</a> if you are not redirected in 3 seconds.</p>